parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        - '#Match expression does not handle remaining value#'
        - '#has an uninitialized readonly property (.*). Assign it in the constructor.#'
        - '#Readonly property (.*) is assigned outside of the constructor.#'
        # I don't know what's up with this one. Need to come back to it and fix the docblock.
        - '#Method (.*)::analyze\(\) should return T of object but returns object.#'

# Tests include an absurd number of classes that are by design not tricked-out, so don't
# bother checking those.
