parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Match expression does not handle remaining value#'

# Tests include an absurd number of classes that are by design not tricked-out, so don't
# bother checking those.
